:root {
    --details-color: #759890;
    --details-pink: #edbfb7;
    --transparency-grey: #2727279c;
    --total-black: #000000;
    --total-white: #FFFFFF;
    --form-brown: #562c2c;
    --form-brown-whited: #a39e9e;
}

body {
    font-family: 'Great Vibes', cursive;
}

.section-icon {
    font-size: 8vw !important;
}

.carousel-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

