.confirmarAsistenciaContainer {
    background-color: #f3fbff;
}

.sectionTitle {
    font-size: 10vw;
}

.sectionText {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 4.9vw;
}

.formSubmitDisabled {
    background-color: var(--form-brown-whited) !important;
}

.formBtn {
    background-color: var(--total-black);
    color: var(--total-white);
    border-radius: 10px;
    font-size: 7vw;
    margin-top: 3vw;
    padding: 10px;
    transition: all ease .8s;
    cursor: pointer;
}

.formBtn:hover {
    background-color: var(--details-pink);
    color: var(--total-black);
}

@media only screen and (min-width: 768px) {
    .sectionTitle {
        font-size: 7vw;
    }

    .sectionText {
        font-size: 3.8vw;
    }

    .formBtn {
        font-size: 5.3vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .sectionTitle {
        font-size: 5.2vw;
    }

    .sectionText {
        font-size: 2.3vw;
    }

    .formBtn {
        font-size: 3.3vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .sectionTitle {
        font-size: 4vw;
    }

    .sectionText {
        font-size: 1.8vw;
    }

    .formBtn {
        font-size: 3.2vw;
    }
}